/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*label {*/
/*    pointer-events: none;*/
/*    cursor: default;*/
/*}*/
* {
    background: antiquewhite;
}
body{
    font-family: Quicksand;
    /*    jersey 754 themify*/
}

h2 {
    text-align: center;
}



#top-title {
    text-align: center;
    transform-style: flat;
    font-size: 60px;
}



/*#enter-item {*/
/*    align-content: center;*/
/*    grid-row: 2/ span1;*/
/*}*/

/*.ListItems {*/
/*    grid-row: 3/ span1;*/
/*}*/

