/*label {*/
/*    pointer-events: none;*/
/*    cursor: default;*/
/*}*/

body{
    font-family: SansSerif;
}

.container {
    background: lightblue;
}

.unchecked {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;

    -webkit-appearance: none;
    cursor: pointer;
}

.unchecked:checked {
    background: red;
}
