/*label {*/
/*    pointer-events: none;*/
/*    cursor: default;*/
/*}*/

body{
    font-family: SansSerif;
}

.container {
    width: 1000pt;
    height: 1000pt;
    background: lightblue;
    display: grid;
    grid-template-columns: 900pts;
    grid-template-rows: 100pt 600pt 100pt;
}

.unchecked {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;

    -webkit-appearance: none;
    cursor: pointer;
}

.unchecked:checked {
    background: red;
}

.checked {
    width: 1.3em;
    height: 1.3em;
    background-color: red;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
}
.checked:checked {
    background: white;
}