@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
label {
  pointer-events: none;
  cursor: default;
}

label input {
  pointer-events: all;
}

.swal-modal {
  background-color: antiquewhite;
  border: 3px solid white;
}
.swal-title {
  font-size: x-large;
}
.swal-text {
  font-size: large;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  width: 100%;
  height: 100%;
  margin: auto;
  zoom: inherit;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  background: antiquewhite;
}
.headerClass {
  display: flex;
  justify-content: center;
  column-gap: 1px;
}
body{
  font-family: Quicksand;
  width: 100%;
  height: 100%;
}


.top-title {
  text-align: center;
  font-weight: bold;
  transform-style: flat;
  /*font-size: 60px;*/
  font-size: 20px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  /*margin-left: 115px;*/
  /*margin-right: 00px;*/
  width: 85%;
}
.headerClass select {
  height: 25px;

}

#sort-items {
  /*padding-top: 12px;*/
  /*padding-left: 0px;*/
  padding-bottom: 12px;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  /*margin-left: 7px;*/
}

#go-button {
  height: 26px;
  width: 28px;
  border-radius: 6px;
  border: 1px solid black;
  text-align: center;
  /*padding-right: 10px;*/
  /*padding-top: ;*/
  vertical-align: auto;
  horiz-align: center;
  padding-left: 4px;
  grid-column: 2;
}

#delete-list-button {
  height: 25px;
  width: 35px;
  border-radius: 6px;
  border: 1px solid black;
  text-align: center;
  padding-left: 35%;
  padding-top: 0px;
  grid-column: 3

}


#back-button {
 margin: auto;
  height: 25px;
  width: 50px;
  border-radius: 08px;
  border: 1px solid black;
  text-align: center;
}

#sort-title {
  font-weight: bold;
  font-size: 10px;
}
#sort-button {
  border-radius: 08px;
  width: 105px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  border: 1px solid black;
}
#container {
  width: 83.3333%;
  /*height: 580px;*/
  height: 84.375%;
  margin: auto;
  padding-left: 7px;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr 10fr 1.5fr;
  grid-template-columns: 140px 90px 50px;
}

#list-container {
  width: 300px;
  height: 580px;
  margin: auto;
  padding-left: 7px;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr 10fr 1.5fr;
  grid-template-columns: 140px 90px 50px;
}

.enter-item {
  align-self: center;
  margin: auto;
  padding: 7px;
  padding-top: 15px;
  grid-row: 1;
  grid-column: 1/ span 3;
}
#priority-container{
  padding: 7px;
  padding-left: 3px;
}
#priority-button {
  height: 26px;
  border-radius: 6px;
  border: 1px solid black;
}
.enter-span {
  grid-row: 1;
  grid-column: 2;
  margin-top: 15pt;
  margin-left: 5pt;
}

.input-text {
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid black;
  height: 25px;
  width: 140px;
  margin: auto;
  background: whitesmoke;
}



.unchecked {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.unchecked:checked {
  background: #e28743;
}

.checked {
  width: 20px;
  height: 20px;
  background-color: #e28743;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.checked-text {
  text-decoration: line-through;
}

.checked:checked {
  background: whitesmoke;
}

.ListItems {
  overflow-y:auto;
  overflow-x: hidden;
  grid-column: 1/ span 3;
}

.ListItems li {
  list-style-type: none;
  /*list-style-type: circle;*/
  white-space: nowrap;
  padding-bottom: 5px;
}


.ListItems ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 210px 45px;
}

#List-of-list-items ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 190px 40px 30px;
}
.ListItems ul li label span {
  vertical-align: middle;
}
.taskItem {
  grid-column: 1;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background: #e28743;
}
::-webkit-scrollbar-track-piece {
  background: #eee
}
::-webkit-scrollbar-thumb {
  background: #e28743;
}
.ListItems li label input {
  vertical-align: middle;
}

.ListItems ul {
  padding-left: 10px;
  margin: auto
}
.taskPriority{
  grid-column: 2;
  height: 25px;
  border-radius: 6px;
  border: 1px solid black;
  background: #ffaf4b;
}

.taskPriorityContainer {
  padding-left: 19px;
}
.ListItems ul li span {
  text-align: left ;
}

.show-buttons {
  background: #ffaf4b;
  cursor: pointer;
}

.grey-buttons {
  background: lightgrey;
  pointer-events: none;
  cursor: not-allowed;
}


#list {
  list-style-type: circle;
  white-space: nowrap;
  padding-bottom: 5px;
}



#enter-button {
  height: 26px;
  width: 28px;
  margin: auto;
  font-size: 12pt;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
}

.enter-button-container {
  padding-left: 2px;
}

#hide-completed-button {
  height: 45px;
  width: 130px;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;

  grid-row: 3;
  grid-column: 1;

}

#delete-button {
  height: 45px;
  width: 130px;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;

  grid-row: 3;
  grid-column: 2/ span 2;
}

