/*.App {*/
/*  text-align: center;*/
/*}*/

label {
  pointer-events: none;
  cursor: default;
}

label input {
  pointer-events: all;
}

.swal-modal {
  background-color: antiquewhite;
  border: 3px solid white;
}
.swal-title {
  font-size: x-large;
}
.swal-text {
  font-size: large;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% {opacity: 1}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {

  width:360px;
  height:640px;
  margin: auto;
  zoom: inherit;


}

#root {
  /*width:964px;*/
  /*height: 1615.19px;*/
  width:360px;
  height: 640px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  background: antiquewhite;
}
body{
  font-family: Quicksand;
}


#top-title {
  text-align: center;
  font-weight: bold;
  transform-style: flat;
  /*font-size: 60px;*/
  font-size: 20px;
  margin: auto;
  padding: 12px;
}


#container {
  width: 300px;
  height: 580px;
  margin: auto;
  padding-left: 5px;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr 10fr 1.5fr;
  grid-template-columns: 140px 90px 50px;


}

#enter-item {
  align-self: center;
  margin: auto;
  padding: 7px;
  padding-top: 15px;
  grid-row: 1;
  grid-column: 1/ span 3;

}
#priority-container{
  padding: 7px;
  padding-left: 3px;
}
#priority-button {
  height: 25px;
  border-radius: 6px;
}
#enter-span {
  grid-row: 1;
  grid-column: 2;
  margin-top: 15pt;
  margin-left: 5pt;
}

#input-text {
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid black;
  height: 25px;
  width: 140px;
  margin: auto;
  background: whitesmoke;

}


.unchecked {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;

}

.unchecked:checked {
  background: #e28743;
}

.checked {
  width: 20px;
  height: 20px;
  background-color: #e28743;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

/*.fade-text {*/
/*  text-decoration: line-through;*/
/*  opacity: 1;*/
/*  animation: fade 3s linear;*/
/*}*/
.checked-text {
  text-decoration: line-through;
  /*opacity: 1;*/
  /*animation: fade 3s linear;*/
}

.checked:checked {
  background: whitesmoke;
}

.ListItems {
  overflow-y:auto;
  overflow-x: hidden;
  grid-column: 1/ span 3;
}

.ListItems li {
  list-style-type: none;
  white-space: nowrap;
}

.ListItems ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 200px 65px;
}


.ListItems ul li label span {
  vertical-align: middle;
  /*white-space: nowrap;*/
  /*grid-column: 1/ span 1;*/
}
.taskItem {
  grid-column: 1;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background: #e28743;
}
::-webkit-scrollbar-track-piece {
  background: #eee
}
::-webkit-scrollbar-thumb {
  background: #e28743;
}
.ListItems li label input {
  vertical-align: middle;
}

.ListItems ul {
  padding-left: 15px;
  margin: auto
}
.taskPriority{
  grid-column: 2;
}
.ListItems ul li span {
  text-align: left ;
}

.ListItems ul li label {
  /*grid-column: 1/ span 1;*/
  /*padding-bottom: 10px;*/

}
.show-buttons {
  background: #ffaf4b;
  cursor: pointer;

}

.grey-buttons {
  background: lightgrey;
  pointer-events: none;
  cursor: not-allowed;
}
#enter-button {
  height: 25px;
  width: 25px;
  margin: auto;
  font-size: 12pt;
  border-radius: 30%;
  cursor: pointer;
  border: 1px solid black;
}


#hide-completed-button {
  height: 45px;
  width: 130px;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;

  grid-row: 3;
  grid-column: 1;

}

#delete-button {
  height: 45px;
  width: 130px;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;

  grid-row: 3;
  grid-column: 2/ span 2;
}