@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

label {
  pointer-events: none;
  cursor: default;
}

label input {
  pointer-events: all;
}

#loading-container {

  width: 95%;
  height: 84%;
  margin: auto;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}


img {
  width: 30px;
  height: 30px;
  grid-row: 1;
  grid-column: 2;
}

.swal-modal {
  background-color: antiquewhite;
  border: 3px solid white;
}
.swal-title {
  font-size: x-large;
}
.swal-text {
  font-size: large;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  width: 100%;
  height: 100%;
  margin: auto;
  zoom: inherit;
}

#root {
  width: 100%;
  height: 100%;

}

* {
  box-sizing: border-box;
  background: antiquewhite;
}

#icon-button {
  background: black;
}

#google-button {
  background: revert;
}
.headerClass {
  display: flex;
  justify-content: center;
  column-gap: 1px;
}
body{
  font-family: Quicksand;
  width: 100%;
  height: 100%;
}


.top-title {
  text-align: center;
  font-weight: bold;
  transform-style: flat;
  font-size: 20px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 85%;
  text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden;
}
.headerClass select {
  height: 25px;

}


#sort-items {

  padding-bottom: 12px;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

#go-button {
  height: 26px;
  width: 28px;
  border-radius: 6px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  vertical-align: auto;
  horiz-align: center;
  padding-left: 4px;
  grid-column: 2;
}

#back-button {
 margin: auto;
  height: 25px;
  width: 50px;
  border-radius: 08px;
  border: 1px solid black;
  text-align: center;
}

#sort-title {
  font-weight: bold;
  font-size: 10px;
}
#sort-button {
  border-radius: 08px;
  width: 125px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  border: 1px solid black;
}
#container {
  width: 92%;
  height: 90%;
  margin: auto;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr 10fr 1.5fr;
  grid-template-columns: 14fr 9fr 5fr;
}

#test {
  padding-left: 1000px;
}

#list-container {

  width: 92%;
  height: 90%;
  margin: auto;
  padding-left: 5%;
  border: 3px solid #eab676;
  border-radius: 8px;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr 10fr 1.5fr;
  grid-template-columns: 46.6666fr 30fr 16.6667fr;
  /*// 140, 90, 50*/
}

.enter-item {
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 7px;
  padding-left: 3%;
  padding-top: 15px;
  grid-row: 1;
  grid-column: 1/ span 3;
}

#enter-item-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 3fr 1fr;
}
#list-enter-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 19fr 4fr 3fr;
}
#priority-container{
  padding: 7px;
  padding-left: 1.4%;
}
#priority-button {
  height: 26px;
  width: 80%;
  text-align: center;
  margin:auto;
  border-radius: 6px;
  border: 1px solid black;
  grid-column: 2;
}
.enter-span {
  margin-top: 15pt;
  margin-left: 5pt;
}

#input-text {
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid black;
  height: 25px;
  width: 90%;
  margin: auto;
  background: whitesmoke;
  grid-column: 1;
}

#list-input-text {
  grid-column: 1;
  align-items: start;

  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid black;
  height: 25px;
  width: 100%;
  margin: auto;
  background: whitesmoke;
}
#list-enter-button {
  height: 26px;
  width: 28px;
  margin: auto;
  font-size: 12pt;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
  grid-column: 2;
}
.delete-button-container {
  padding-left: 55px;
}

#delete-list-button {
  border-radius: 6px;
  border: 1px solid black;
  height: 26px;
  width: 30px;
  text-align: center;
  margin: auto;
  padding-left: 2mm;
  grid-column: 3;

}


#delete-all-lists {
  border-radius: 6px;
  border: 1px solid black;
  height: 26px;
  width: 30px;
  text-align: center;
  margin: auto;
  padding-left: 2mm;
  grid-column: 3;
}


.unchecked {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.unchecked:checked {
  background: #e28743;
}

.checked {
  width: 20px;
  height: 20px;
  background-color: #e28743;
  border-radius: 50%;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.checked-text {
  text-decoration: line-through;
}

.checked:checked {
  background: whitesmoke;
}

.ListItems {
  overflow-y:auto;
  overflow-x: hidden;
  grid-column: 1/ span 3;
}

.ListItems li {
  list-style-type: none;
  white-space: nowrap;
  padding-bottom: 5px;
}


.ListItems ul li {
  display: grid;
  padding-right: 1%;
  grid-template-rows: 1fr;
  grid-template-columns: 8fr 0.9fr;

}

#List-of-list-items ul li {
  display: grid;
  align-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 19fr 4.5fr 2.8fr;
}
.ListItems ul li label span {
  vertical-align: middle;
}
.taskItem {
  grid-column: 1;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background: #e28743;
}
::-webkit-scrollbar-track-piece {
  background: #eee
}
::-webkit-scrollbar-thumb {
  background: #e28743;
}
.ListItems li label input {
  vertical-align: middle;
}

.ListItems ul {
  padding-left: 5%;
  margin: auto
}
.taskPriority{
  grid-column: 2;
  height: 25px;
  border-radius: 6px;
  border: 1px solid black;
  background: #ffaf4b;
  margin:auto;
}

.ListItems ul li span {
  text-align: left ;
}

.show-buttons {
  background: #ffaf4b;
  cursor: pointer;
}

.grey-buttons {
  background: lightgrey;
  pointer-events: none;
  cursor: not-allowed;
}


#list {
  list-style-type: circle;
  white-space: nowrap;
  padding-bottom: 5px;
}



#enter-button {
  height: 26px;
  width: 28px;
  margin: auto;
  font-size: 12pt;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
  grid-column: 3/ span 1;
}

.enter-button-container {
  padding-left: 1.4%;
}

#hide-completed-button {
  height: 45px;
  width: 85%;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;

  grid-row: 3;
  grid-column: 1;

}

#delete-button {
  height: 45px;
  width: 85%;
  margin: auto;
  border-radius: 10px;
  font-size: 10pt;
  font-family: Quicksand;
  border: 1px solid black;
  grid-row: 3;
  grid-column: 2/ span 2;
}


@media screen and (min-width: 720px) {

  #container {
    height: 86%;
  }
  html{
    font-size: x-large;
  }
  #priority-button {
    font-size: large;
  }
  #enter-button {
    font-size: large;
  }
  #hide-completed-button {
    font-size: large;
  }
  #delete-button {
    font-size: large;
  }
  #sort-button{
    font-size: medium;
  }
  #back-button{
    font-size: medium;
  }
  #list-input-text {
    font-size: large;
  }
  #input-text {
    font-size: large;
  }
  .top-title {
    font-size: xx-large;
  }
}
@media screen and (max-height: 1000px) {
  #container {
    height: 86%;
  }

  #list-container {
    height: 88%;
  }
}


@media screen and (max-height: 750px) {
  #container {
    height: 83%;
  }

  #list-container {
    height: 85%;
  }
}


@media screen and (max-height: 590px) {
  #container {
    height: 80%;
  }

  #list-container {
    height: 85%;
  }
}
@media screen and (max-height: 450px) {
  #container {
    height: 75%;
  }
  #list-container {
    height: 80%;
  }
}
@media screen and (max-height: 360px) {
  #container {
    height: 70%;
  }

}

@media screen and (max-height: 300px) {
  #container {
    height: 60%;
  }

  #list-container {
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  #list-container {
    width: 83.333%;
  }
  #container {
    width: 85%;
  }
  .ListItems ul li {
    padding-right: 0%;
    grid-template-columns: 4.3fr 1fr;

  }
  #enter-item-container {
    grid-template-columns: 3.5fr 2fr 1fr;
  }

  #List-of-list-items ul li {
    grid-template-columns: 13fr 4.5fr 3.5fr;
  }

  #list-enter-item {
    grid-template-columns: 5fr 2fr 1fr;
  }
}

@media screen and (max-height: 630px) {
  #container {
    grid-template-rows: 1fr 10fr 1.5fr 0.2fr;
  }
}



